@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: url('../assets/bg.jpg') center/cover;
    height: 100vh;
    text-align: center;
    margin-top: 50px;
}

.pw {
    font-size: 96px;
}

.activate {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    border: 3px solid #000;
    color: #000;
    text-shadow: none;
    background: white;
    content: "";
    width: calc(100%-6px);
    height: calc(100%-6px);
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
    cursor: pointer;
}