@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

@mixin font-style($size, $marginb: null) {
    font-size: $size;
    margin-bottom: $marginb;
}
    
* {
    box-sizing: border-box;
}

$pureblack: #000;

body {
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: url('../assets/bg2.jpg') no-repeat fixed left/cover;
    height: 100vh;
    text-align: center;
    text-shadow: 1px 0 0 $pureblack, 0 -1px 0 $pureblack, 0 1px 0 $pureblack, -1px 0 0 $pureblack;
}

h1 {
    @include font-style(50px);
}

.pw {
    @include font-style(96px, -50px);
    #depassement, #estimedtime{
        @include font-style(36px, 50px);
    }
}

#pw-button {
    margin-bottom: 10px;
    margin-left: 25px;
}

$mint: #15DEA5;

.btn {
    color: white;
    font-size: 16px;
    &-activate {
        border: none;
        padding: 15px 5px;
        text-align: center;
        text-decoration: none;
        width: 125px;
        margin-right: 25px;
        background: $mint;
        cursor: pointer;
        border-radius: 100rem;
    }
    &-noname {
        background-color: $pureblack;
        border: 3px solid $pureblack;
        border-radius: 5px;
        position: fixed;
        bottom: 0;
        right: 100px;
    }
}

$transparent: #11ffee00;
@mixin text-area-format($widthsize) {
    background-color: $transparent;
    text-align: center;
    width: $widthsize;
    height: 50px;  
    overflow: hidden;
    border: none;
    resize: none;
    color: white;
    text-shadow: 1px 0 0 $pureblack, 0 -1px 0 $pureblack, 0 1px 0 $pureblack, -1px 0 0 $pureblack;
    font-size: 30px;
}

textarea {
    @include text-area-format(5%)
}

/************ Responsive ************/
@media screen and (max-width: 900px) {
    textarea {
        @include text-area-format(50px)
    }
}